<meta property="og:title" content="{{ page.title | default: site.title }}">
<meta property="og:description" content="{{ page.description | default: site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://looseendslonggoodbyes.com{{ page.url }}">
<meta property="og:image" content="https://looseendslonggoodbyes.com/assets/og-image.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:description" content="{{ page.description | default: site.description }}">
<meta name="twitter:image" content="https://looseendslonggoodbyes.com/assets/og-image.jpg">
